@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,700&display=swap');
*{  
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;}
body{
    background: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;}
.container{
    background-size: contain;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat; 
    background-image: url(images/logo-color.png);
    align-items: center;
    width: 90%;
    height: 640px;}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;}
a{
    color: white;
    text-decoration: none;}
.logo{
    font-size: 25px;
    text-transform: uppercase;}
ul{
    background-position: right;
    width: 100%;
    font-size: 17px;
    display: flex;
    justify-content: space-evenly;}
ul a{
    border-bottom: 2px solid transparent;}
ul a:hover{
    border-bottom-color: 2px white;}
nav{
    flex-direction: column;
    justify-content: center;}
p{
    margin-top: 10px;
    color: greenyellow;
    font-size: 17px;
    text-transform: uppercase;}